@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin main-button ($background : rgb(15, 15, 15), $color : white) {
    border-radius: 15px;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: $background;
    color: $color;
}

