@use "../../sass/variables" as *;
.modal{
    position: absolute;
    width: 1450px;
    height: 1486px;
    left: 0px;
    top: 0px;

    background: rgba(217, 217, 217, 0.7);

    .firstModal {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 65%;
        padding: 40px 40px 80px 40px;
        left: 30vh;
        top: 30vh;
        
        background: $fourth-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;

        .col-1{
            margin-top: 100px;
        }

        .col-2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 70vh;
            margin-top: 80px;

            h4{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 35px;
                margin-left: 30px;
                        
                        
                color: $third-color; 
            }
            
            h3{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 20px;
                margin: 40px 5px 20px 5px;
                color: $main-color;

            }
            hr{
                width: 487px;
                height: 3px;
                margin: 0 0 40px 5px;  

                background: $third-color;
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            .price{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 25px;
                line-height: 20px;
                
                color: $main-color;
            }
            .color{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                margin: 20px 0;
                color: $main-color;

            }
            .colorBox{
                width: 30px;
                height: 30px;
                
                background: #000000;
                border-radius: 10px;
            }

            .keepBying-btn{
                width: 410px;
                height: 63px;
                margin: 60px 0 20px 40px;
                border: 0;
                background: $third-color;
                border-radius: 10px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                
                text-align: center;

                color: $fourth-color;
            }
            .finishBuy-btn{
                width: 410px;
                height: 63px;
                margin: 0 0 20px 40px;
                
                background: $fifth-color;
                border-radius: 10px;
                border: 0;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
            
                text-align: center;

                color: $fourth-color;
            }
            

        }
    }
}