@use "../../sass/variables" as *;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.footer__home{
    display: flex;
    position: fixed;
    width: 100%;
    height:150px;
    background-color: #0C70F2;

}

.footer_h5{
    margin:auto 5%;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 100;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:white;


}

.footer__img{
    width: 10%;
    height: 60%;
    margin-top: 0.5%;
    margin-bottom: auto;
    margin-left: 5%;
}