@use "../../sass/variables" as *;


.dialog-pay{
  border-radius: 2rem;
  width: 50%;
  padding: 3rem 8rem;
  margin:auto;
  border: none;

&__close{
  width: 2rem;
  align-self: flex-end;
  margin-top: -2rem;
  margin-right: -7rem;
}

&__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  h2{
    color:$third-color;
  }

  label{
    margin-top: 1rem;
  }

  input, select{
    margin-top: 0.3rem;
    padding: 0.5rem;
    border-radius: $main-border-radius;
    border: solid 2px $fifth-color;
    width: 100%;
  }

  
  button{
    color: $fourth-color;
    background-color: $third-color;
    border: 0;
    border-radius: $main-border-radius;
    padding: 0.75rem;
    margin-top: 2rem;
  }
}
}
