@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;

}